# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/

# Poetry lock file (оставь, если хочешь фиксировать версии зависимостей)
# poetry.lock

# Environment variables
.env
.env.*

# IDEs and editors
.vscode/
.idea/

# Pytest cache
.pytest_cache/

# Mypy cache
.mypy_cache/

# Coverage reports
.coverage
htmlcov/
coverage.xml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Databases
*.db

# static files
cv/
images/